/*
Main.css for Visualizing Trains
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	background: #eee;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /////////////// Main CSS ////////////// */	
b {font-weight: bold;}
i {font-style: italic;}

#main-c {
  position: relative;
  width:700px;
  margin: 20px auto;
  background: #fff;
  border: 2px solid #ddd;
}

#m-map {
	position: absolute;
	top: 0;
	left: 0;
  /*background: url("../img/map-of-india.gif") no-repeat;*/
  background-size:500px 550px;
  visibility: hidden;
}

#m-tip {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.2em;
	padding: 5px;
	background: rgba(250,250,250,0.9);
	color: #111;
	border: 1px solid #ddd;

	position:absolute;
	top:0px;
	left:0px;
	min-width:5px;
	min-height:5px;
	
	opacity:0;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#m-tip i, #m-tip b {
	color: #000;
}

#svg-c {
  width:500px;
  min-height:500px;
  margin: 0 auto;
}

#text {
background: #f8f8f8;
position:relative;
}

#text h2{
font-family: Georgia, Times, serif;
font-size: 1.6em;
line-height: 1.2em;
font-weight: bold;
padding: 20px 15px;
background: #fdfdfd;
margin-bottom: 0.5em;
border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd;
}

#help {
font-family: Arial, sans-serif;
position:absolute;
top: -4em;
right:0;
text-align: right;
font-style: italic;
color: #ccc;
font-size: 0.6em;
line-height: 1.2em;
padding: 5px 15px;
}

#text p {
font-family: Arial, sans-serif;
color: #666;
font-size: 0.8em;
line-height: 1.2em;
padding: 10px 15px;
}

#text p span{
  font-weight: bold;
}

#text a {
color: #111;
text-decoration: none;
border-bottom: #999 dotted 1px;
background:none;
}
#text a:hover {
color: #f8f8f8;
background: #333;
}

#text a.btn-tweet:hover {
background-color: #41b7d8;
}
#text a.btn-facebook:hover {
background-color: #3b5997;
}

#screen {
  position:absolute;
  z-index: -1;
  top:-2px;
}